.feebdack{
    background-image: url('../../../assets/images/banner_brand.jpg');
    width: 100%;
  background-repeat: no-repeat;
    overflow: hidden;
    padding-top: 80px;
}

.feedback-content {
    text-align: center;
    width: 1170px;
    margin: auto;
}
.feedback-content-user ul li {
    list-style-type: none;
    display: inline-block;
    padding-left: 70px;
}
.feedback-content-user ul li img {
    border-radius: 60px;
}

.feedback-content-user span {
    width: 300px;
}

p.feedback-text {
    width: 300px;
}
.feedback-content-user ul {
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 1200px) {


    .feedback-content-user ul li {
        list-style-type: none;
        display: inline-block;
        padding-left: 0;
    }

  }
@media only screen and (max-width: 992px) {
    .feebdack{
        background-image: url('../../../assets/images/banner_brand.jpg');
        width: 100%;
        background-size: cover;
      background-repeat: no-repeat;
        overflow: hidden;
        padding-top: 50px;
        height:auto;
    }
    .feedback-content {
        text-align: center;
        width: 100%;
    }
    .feedback-content-user ul {
        padding-left: 0;
    }
    .feedback-content-user ul li {
        list-style-type: none;
        display:block;
     padding-left: 0;
    }
    .feedback-content-user{
        width: 100%;
        margin: auto;
    }
    .feedback-content-user {
        width: 80%;
        margin: auto;
    }
    p.feedback-text {
        width: 100%;
    }
  
   
  }
  
  /*tablet*/
  
  @media only screen and (max-width: 768px) {

    .feebdack{
        background-image: url('../../../assets/images/banner_brand.jpg');
        width: 100%;
        background-size: cover;
      background-repeat: no-repeat;
        overflow: hidden;
        padding-top: 50px;
        height:auto;
    }
    .feedback-content {
        text-align: center;
        width: 100%;
    }
    .feedback-content-user ul {
        padding-left: 0;
    }
    .feedback-content-user ul li {
        list-style-type: none;
        display:block;
     padding-left: 0;
    }
    .feedback-content-user{
        width: 100%;
        margin: auto;
    }
    .feedback-content-user {
        width: 80%;
        margin: auto;
    }
    p.feedback-text {
        width: 100%;
    }
    .feedback-content-user ul {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
  }
  
  /*mobile*/
  
  @media only screen and (max-width: 576px) {
    .feebdack{
        background-image: url('../../../assets/images/banner_brand.jpg');
        width: 100%;
        background-size: cover;
      background-repeat: no-repeat;
        overflow: hidden;
        padding-top: 50px;
        height:auto;
    }
    .feedback-content {
        text-align: center;
        width: 100%;
    }
    .feedback-content-user ul {
        padding-left: 0;
    }
    .feedback-content-user ul li {
        list-style-type: none;
        display:block;
     padding-left: 0;
    }
    .feedback-content-user{
        width: 100%;
        margin: auto;
    }
    .feedback-content-user {
        width: 80%;
        margin: auto;
    }
    p.feedback-text {
        width: 100%;
    }
    .feedback-content-user ul {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
  }
